* {
  padding: auto;
  margin: auto;
}

body {
  background-image: url(Media/Background\ 6.jpg);
  background-position: center;
  background-size: cover;

}

.one {
  color: white;
  font-weight: bold;
  font-size: 50px;
}

