* {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  width: 100%;
  background-image: url(Media/Background\ 2.jpg);
  background-position:  center;
  background-size: cover;
}

.one {
  color: blue;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
}

.nacoss {
  width: 200px;
  float: right;
}

.nsuk {
  width: 200px;
}

h1 {
  text-align: center;
}

ul a {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
  

}

li {
text-align: center;;
}

ul:hover, a:hover {
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  
}

abbr {
  text-decoration: none;
  color: blue;
}

button.one {
  list-style-type: none;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;


}
button.two {
  list-style-type: none;
  border: 2px solid black;
  padding: px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

button.one:hover {
  background-color: rgb(232, 23, 23);
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  transition: 2s;
  margin-bottom: 20px;
}

button.two:hover {
  background-color: violet;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: 2s;
}